{include file="common/header.html"}
<script src="{$smarty.const.JS_PATH}/bootstrapValidator.min.js"></script>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="page-header">
            <h3>登陆</h3>
        </div>

        <form id="defaultForm" method="post" class="form-horizontal" action="login/loginAct">
            <div class="alert alert-info" style="display: none;"></div>
            <div class="form-group">
                <label class="col-lg-3 control-label">用户名</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control" name="username" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label">密码</label>
                <div class="col-lg-5">
                    <input type="password" class="form-control" name="password" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                    <button type="submit" class="btn btn-primary">登&nbsp;&nbsp;陆</button>
                </div>
            </div>
        </form>
    </div>
</div>
{literal}
<script type="text/javascript">
    $(document).ready(function () {
        $('#defaultForm')
                .bootstrapValidator({
                    message: 'This value is not valid',
                    feedbackIcons: {
                        valid: 'glyphicon glyphicon-ok',
                        invalid: 'glyphicon glyphicon-remove',
                        validating: 'glyphicon glyphicon-refresh'
                    },
                    fields: {
                        username: {
                            message: '请填写用户名',
                            validators: {
                                notEmpty: {
                                    message: '请填写用户名'
                                },
                                stringLength: {
                                    min: 6,
                                    max: 30,
                                    message: '用户名最少6个字符，最多30个字符'
                                },
                                regexp: {
                                    regexp: /^[a-zA-Z0-9_\.]+$/,
                                    message: '用户名只允许填写字符，数字，下划线'
                                }
                            }
                        },
                        password: {
                            validators: {
                                notEmpty: {
                                    message: '密码必须填写'
                                }
                            }
                        }
                    }
                }).on('success.form.bv', function (e) {
            e.preventDefault();
            var $form = $(e.target);
            $.post($form.attr('action'), $form.serialize(), function (result) {
                if (result.valid == true) {
                    window.location.href = "/";
                }else{
                $form.bootstrapValidator('disableSubmitButtons', false).bootstrapValidator('resetForm', true);
                $form.find('.alert').html(result.message).show();
                }
            }, 'json');
        });
    });
</script>
{/literal}
{include file="common/footer.html"}