
            <div class="contentWrapper">
                <div class="hello-box" style="background: #000;">
                        <pre style="background: #000; color: #000; border: 0; font-family:courier; color: #00FF00;width: 380px;" class="col-sm-6">
 _______________________
< Hello! Please Ask Me! >
 -----------------------
        \   ^__^
                 \  (oo)\_______
                        (__)\       )\/\
                        ||----w |
                        ||     ||
                        </pre>
                        <pre style="background: #000; color: #000; border: 0; font-family:courier; color: #00FF00;width: 380px;" class="col-sm-6">
 ____________
< Bug 都是浮云! >
 ------------
 \   ^__^
          \  (^^)\_______
                 (__)\       )\/\
               U  ||----w |
                  ||     ||
                        </pre>
                    <div class="col-sm-12" style="width: 100%;color: #00FF00;text-align: left;">
                        root@Hello-Ask:~#&nbsp;
                        <input type="text" id="search" style="background:#000;width: 80%;color:#00FF00 ;border: 0;outline:none;" placeholder="^_^ 在这里输入问题哦~~" autofocus/>
                    </div>
                    </div>
            </div>