<div id="editor">
    <div class="suProgress progress">
        <div class="progress-bar su-progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">20%</div>
    </div>
    <div class="su-toolbar">
        <div class="tool-block su-tool-bold" title="加粗(Ctrl+B)" data-placement="top" data-toggle="tooltip">
            <span class="glyphicon glyphicon-bold"></span>
        </div>
        <div class="tool-block su-tool-italic" title="斜体(Ctrl+I)" data-placement="top" data-toggle="tooltip">
            <span class="glyphicon glyphicon-italic"></span>
        </div>
        <div class="tool-block su-tool-head" title="标题(Ctrl+H)" data-placement="top" data-toggle="tooltip">
            <span class="glyphicon glyphicon-header"></span>
        </div>
        <div class="tool-block su-tool-link" title="链接(Ctrl+L)" data-placement="top" data-toggle="tooltip">
            <span class="glyphicon glyphicon-link"></span>
        </div>
        <div class="tool-block su-tool-img" title="图片(Ctrl+G)" data-placement="top" data-toggle="tooltip">
            <span class="glyphicon glyphicon-picture"></span>
        </div>
        <div class="tool-block su-tool-list" title="无序列表(Ctrl+U)" data-placement="top" data-toggle="tooltip">
            <span class="glyphicon glyphicon-list"></span>
        </div>
        <div class="tool-block su-tool-orderlist" title="有序列表(Ctrl+O)" data-placement="top" data-toggle="tooltip">
            <span class="glyphicon glyphicon-th-list"></span>
        </div>
        <div class="tool-block su-tool-code" title="代码(Ctrl+K)" data-placement="top" data-toggle="tooltip">
            <span class="glyphicon glyphicon-asterisk"></span>
        </div>
        <div class="tool-block su-tool-quote" title="引用(Ctrl+Q)" data-placement="top" data-toggle="tooltip">
            <span class="glyphicon glyphicon-comment"></span>
        </div>

        <a class="tool-block su-tool-help" href="/editor/markdown" target="_blank" title="帮助" data-placement="top" data-toggle="tooltip">
            <span class="glyphicon glyphicon-info-sign"></span>
        </a>

        <div class="tool-block pull-right su-tool-preview" title="预览" data-placement="top" data-toggle="tooltip">
            <span class="glyphicon glyphicon-eye-open"></span>
        </div>
    </div>

    <div class="suEditor">

        <textarea name="content" id="answer"></textarea>

    </div>
    <div class="suPreview">

    </div>
    <button type="button" class="btn btn-success" id="push_answer">提交回答</button>
</div>
<script>
    var question_id={$question.id};
    {literal}
    var option = {
            height: "100%",
            target: '#editor'
    };
    $(function () {
            SuMarkdown(option);
    });
    $('#push_answer').click(function () {
            $.post('/answer/push', {content: $('#answer').val(), question_id:question_id}, function (result) {
                    if (result.valid == true) {
                            window.location.reload();
                    } else {
                            $.confirm({
                                    title: '提示!',
                                    content:result.message,
                                    confirmButton: false,
                                    cancelButtonClass: 'btn-danger',
                                    animation: 'zoom'
                            });
                    }
            }, "json");
    });
    {/literal}
</script>