<?php include HEADER_HTML;?>
<link rel="stylesheet" href="<?php echo JS_PATH;?>/suMarkdown/styles/default.css">
<script src="<?php echo JS_PATH;?>/suMarkdown/suMarkdown.js"></script>
<script src="<?php echo JS_PATH;?>/bootstrapValidator.min.js"></script>
            <div class="row">
                <div class="col-sm-8 blog-main">
                    <div class="blog-post">
                        <h2 class="blog-post-title"><?php echo $question['title'];?></h2>
                        <p class="blog-post-meta">Time : <?php echo date("Y-m-d H:i:s",$question['create_time']);?>
                            &nbsp;&nbsp;
                            <a href="/ask/edit?id=<?php echo $question['id'];?>">编辑</a>
                        </p>
                        <p class="blog-post-meta">Tags : 
                            <?php
                                $tags=explode(';', $question['tags']);
                                foreach($tags as $value){
                            ?>
                            <span class="label label-info"><?php echo $value;?></span>
                            <?php }?>
                        </p>
                    </div>
                    <div class="marked"><?php echo $question['content'];?></div>
                    <div><?php echo count($answers);?>个答案</div>
                    <hr />
                    <?php
                    if($answers)
                    foreach($answers as $answer){?>
                    <div class="answer marked"><?php echo $answer['content'];?></div>
                    <?php }?>
                    <?php include VIEW_PATH.'/question/editor.html'?>
                    <nav>
                        <ul class="pager">
                            <?php echo $pageStr;?>
                        </ul>
                    </nav>

                </div><!-- /.blog-main -->

                <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                    <div class="sidebar-module sidebar-module-inset">
                        <h4>About</h4>
                        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                    </div>
                    <div class="sidebar-module">
                        <h4>Archives</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">March 2014</a></li>
                            <li><a href="#">February 2014</a></li>
                            <li><a href="#">January 2014</a></li>
                            <li><a href="#">December 2013</a></li>
                            <li><a href="#">November 2013</a></li>
                            <li><a href="#">October 2013</a></li>
                            <li><a href="#">September 2013</a></li>
                            <li><a href="#">August 2013</a></li>
                            <li><a href="#">July 2013</a></li>
                            <li><a href="#">June 2013</a></li>
                            <li><a href="#">May 2013</a></li>
                            <li><a href="#">April 2013</a></li>
                        </ol>
                    </div>
                    <div class="sidebar-module">
                        <h4>Elsewhere</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">GitHub</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ol>
                    </div>
                </div><!-- /.blog-sidebar -->

            </div>
<script src="<?php echo JS_PATH;?>/controllers/question.js"></script>
<?php include FOOTER_HTML;?>
